@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

/*Header y footer de todas las paginas del sitio*/
@media screen and (min-width: 480px) {
  header {
    width: 100%;
  }
  header .mensaje_inicial {
    margin-top: 4px;
    height: 12px;
    font-size: 60%;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: desplazar 15s linear infinite;
  }
  @keyframes desplazar {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  header .menu_navegacion {
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 57, 70);
  }
  header .menu_navegacion .espacioMarca {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .menu_navegacion .espacioMarca .tittleMarca h2 {
    font-family: "Ubuntu", sans-serif;
    color: rgb(234, 215, 187);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    padding-top: 10px;
    margin: 15px;
  }
  header .menu_navegacion .espacioMarca .tittleMarca h2:hover {
    color: white;
  }
  header .menu_navegacion .espacioMarca .logoMarca img {
    width: 18%;
    height: auto;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
  }
  header .menu_navegacion .navbar .container-fluid .navbar-toggler {
    background-color: #FFF2D8;
    border: 1px solid #FFF2D8;
  }
  header .menu_navegacion .navbar .container-fluid .navbar-nav a {
    color: rgb(188, 163, 127);
  }
  header .menu_navegacion .navbar .container-fluid .navbar-nav li a:hover {
    color: white;
  }
}
@media screen and (min-width: 768px) {
  @keyframes desplazar {
    0% {
      transform: translateX(135%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@media screen and (min-width: 1024px) {
  @keyframes desplazar {
    0% {
      transform: translateX(250%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@media screen and (min-width: 480px) {
  .footer {
    grid-area: footer;
    background-color: rgb(188, 163, 127);
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    justify-content: space-between;
    position: relative;
    font-family: Arial, sans-serif;
  }
  .footer .itemFooter {
    align-items: center;
    width: 20vw;
  }
  .footer .itemFooter h2 {
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .footer .itemFooter p {
    line-height: 0.4;
    font-size: 0.4rem;
  }
  .footer .itemFooter a {
    text-decoration: none;
    color: inherit;
  }
  .footer .iconoRedesSociales {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }
  .footer .iconoRedesSociales li {
    margin-right: 10px;
  }
  .footer .iconoRedesSociales li img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer .itemFooter {
    align-items: center;
    width: 20vw;
  }
  .footer .itemFooter h2 {
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .footer .itemFooter p {
    line-height: 0.4;
    font-size: 0.5rem;
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) {
  .footer .itemFooter h2 {
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 0px;
  }
  .footer .itemFooter p {
    line-height: 0.4;
    font-size: 0.7rem;
  }
  .footer .itemFooter a {
    text-decoration: none;
    color: inherit;
  }
}
/*Mixins de los estilos Standard y de los mas usados*/
/*Mixin de botones de venta superpuestos en imagenes de pagina ppal (index). Dividido en media queries de _480px, _768px y _1024px:*/
/*Mixin estilo de Imgs de venta en la pag Ppal*/
/*Botones de accion de toda la pagina*/
/*Para centrar elementos...*/
/*Paginas del sitio*/
/* <---Página Inicio---> */
@media screen and (min-width: 480px) {
  .imgSupFondo {
    background-image: url(../multi/paisaje_fondo.webp);
    background-size: cover;
    height: 100px;
    margin: 5px auto;
  }
  .imgSupFondo h3 {
    margin-top: 30px;
    text-align: center;
    align-content: center;
  }
  .imgBotonesArriba {
    background-image: url(../multi/img_jeanFondo.jpeg);
    background-size: cover;
    height: auto;
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.8;
    margin-bottom: 5px;
  }
  .imgBotonesArriba button {
    color: white;
    font-size: 1.7rem;
    width: 250px;
  }
  .imgBotonesArriba button:hover {
    color: #BCA37F;
  }
  .carrete_prendas {
    margin: 5px auto;
  }
  .carrete_prendas img {
    border-radius: 5px;
    min-height: fit-content;
  }
  .imgsPagPPal {
    align-items: center;
    align-content: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.9fr 1fr 0.9fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 5px;
    grid-template-areas: "img1__pagPpal img2__pagPpal img4__pagPpal" "img1__pagPpal img3__pagPpal img4__pagPpal";
  }
  .imgsPagPPal .img1__pagPpal {
    grid-area: img1__pagPpal;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .imgsPagPPal .img1__pagPpal img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2%;
    object-fit: cover;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 3px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    display: flex;
    justify-content: flex-end;
    margin: 115px 0px 2px 0;
    position: relative;
    right: 18px;
    top: 10px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    text-decoration: line-through;
    color: #ff4500;
    margin-right: 3px;
    font-size: 0.7em;
    font-weight: 700;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    color: #ff4500;
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 15px;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.5em;
    font-weight: 650;
    color: black;
    margin: 0px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    font-size: 45%;
    width: 60px;
    height: 20px;
    margin: 0.5px;
  }
  .imgsPagPPal .img2__pagPpal {
    grid-area: img2__pagPpal;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .imgsPagPPal .img2__pagPpal img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
    object-fit: cover;
    margin-top: 90px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 3px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    display: flex;
    justify-content: flex-end;
    margin: 115px 0px 2px 0;
    position: relative;
    right: 18px;
    top: 10px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    text-decoration: line-through;
    color: #ff4500;
    margin-right: 3px;
    font-size: 0.7em;
    font-weight: 700;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    color: #ff4500;
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 15px;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.5em;
    font-weight: 650;
    color: black;
    margin: 0px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    font-size: 45%;
    width: 60px;
    height: 20px;
    margin: 0.5px;
  }
  .imgsPagPPal .img3__pagPpal {
    grid-area: img3__pagPpal;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .imgsPagPPal .img3__pagPpal img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 90px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 3px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    display: flex;
    justify-content: flex-end;
    margin: 115px 0px 2px 0;
    position: relative;
    right: 18px;
    top: 10px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    text-decoration: line-through;
    color: #ff4500;
    margin-right: 3px;
    font-size: 0.7em;
    font-weight: 700;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    color: #ff4500;
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 15px;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.5em;
    font-weight: 650;
    color: black;
    margin: 0px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    font-size: 45%;
    width: 60px;
    height: 20px;
    margin: 0.5px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal {
    bottom: 100px;
    left: 10px;
  }
  .imgsPagPPal .img4__pagPpal {
    grid-area: img4__pagPpal;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .imgsPagPPal .img4__pagPpal img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2%;
    object-fit: cover;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 3px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    display: flex;
    justify-content: flex-end;
    margin: 115px 0px 2px 0;
    position: relative;
    right: 18px;
    top: 10px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    text-decoration: line-through;
    color: #ff4500;
    margin-right: 3px;
    font-size: 0.7em;
    font-weight: 700;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    color: #ff4500;
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 15px;
    -webkit-text-stroke: 0.1px black;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.5em;
    font-weight: 650;
    color: black;
    margin: 0px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    font-size: 45%;
    width: 60px;
    height: 20px;
    margin: 0.5px;
  }
  .imgsPagPPal .img4__pagPpal .seccionPrecios__imgsPagPPal {
    right: 5px;
  }
  .divider {
    width: 120vw;
    margin: 0;
  }
  .divider .imgDivider img {
    align-content: end;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carrete_recomendados {
    background-color: #FFF2D8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    /* Se ubica este hover en este punto ya que al ponerlo arriba aplicaba el sombreado independientemente a cada elemento de la card */
  }
  .carrete_recomendados .card {
    width: 20%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
  .carrete_recomendados .card .card-body {
    display: inline;
    justify-content: space-between;
    width: auto;
    align-content: center;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body .card-title {
    text-decoration: none;
    font-size: 0.8rem;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body h6 {
    color: #ff4500;
    font-size: 0.8rem;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body .card-text {
    text-decoration: none;
    font-size: 0.6em;
  }
  .carrete_recomendados .card .card-body .seccionPrecios {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body .seccionPrecios .textoTachado {
    text-decoration: line-through;
    font-size: 0.7rem;
  }
  .carrete_recomendados .card .card-body .seccionPrecios .card-textPrice {
    color: #ff4500;
    font-size: 0.7rem;
  }
  .carrete_recomendados .card .card-body .seccionPrecios p {
    font-size: 0.8rem;
  }
  .carrete_recomendados .card .card-body .btn {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 100%;
    min-width: 70px;
    font-size: 0.5em;
    align-items: center;
    margin: 2px auto;
    margin-left: -11px;
  }
  .carrete_recomendados .card:hover {
    box-shadow: 0 8px 16px #113946;
  }
}
@media screen and (min-width: 768px) {
  .carrete_recomendados .card .card-body .card-title {
    text-decoration: none;
    font-size: 0.9rem;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body h6 {
    color: #ff4500;
    font-size: 0.9rem;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body .card-text {
    text-decoration: none;
    font-size: 0.8em;
  }
  .carrete_recomendados .card .card-body .seccionPrecios .textoTachado {
    text-decoration: line-through;
    font-size: 0.9rem;
  }
  .carrete_recomendados .card .card-body .seccionPrecios .card-textPrice {
    color: #ff4500;
    font-size: 0.9rem;
  }
  .carrete_recomendados .card .card-body .seccionPrecios p {
    font-size: 0.9rem;
  }
  .carrete_recomendados .card .card-body .btn {
    width: 100%;
    min-width: 70px;
    font-size: 0.7em;
    background-color: #113946;
    align-items: center;
    margin: 5px 0px 0px 0px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 150px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 35px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.8em;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.8em;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.6em;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 55%;
    width: 80px;
    height: 20px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 150px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 35px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.8em;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.8em;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.6em;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 55%;
    width: 80px;
    height: 20px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 150px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 35px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.8em;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.8em;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.6em;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 55%;
    width: 80px;
    height: 20px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 150px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 35px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.8em;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.8em;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.6em;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 55%;
    width: 80px;
    height: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .imgBotonesArriba {
    height: auto;
    object-fit: cover;
  }
  .carrete_recomendados .card .card-body .card-title {
    text-decoration: none;
    font-size: 1rem;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body h6 {
    color: #ff4500;
    font-size: 1.2rem;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body .card-text {
    text-decoration: none;
    font-size: 0.9em;
  }
  .carrete_recomendados .card .card-body .seccionPrecios {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
  }
  .carrete_recomendados .card .card-body .seccionPrecios .textoTachado {
    text-decoration: line-through;
    font-size: 1rem;
  }
  .carrete_recomendados .card .card-body .seccionPrecios .card-textPrice {
    color: #ff4500;
    font-size: 1rem;
  }
  .carrete_recomendados .card .card-body .seccionPrecios p {
    font-size: 0.9rem;
  }
  .carrete_recomendados .card .card-body .btn {
    width: 100%;
    min-width: 70px;
    font-size: 0.8em;
    background-color: #113946;
    align-items: center;
    margin: 5px 0px 0px 0px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal {
    height: 200px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 200px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 75px;
    bottom: 105px;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.9em;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.9em;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.7em;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img1__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 65%;
    width: 90px;
    height: 20px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal {
    height: 200px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 200px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 75px;
    bottom: 105px;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.9em;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.9em;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.7em;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img2__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 65%;
    width: 90px;
    height: 20px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal {
    height: 200px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 200px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 75px;
    bottom: 105px;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.9em;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.9em;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.7em;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img3__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 65%;
    width: 90px;
    height: 20px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal {
    height: 200px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay {
    width: 200px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal {
    right: 75px;
    bottom: 105px;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .precioTachado {
    font-size: 0.9em;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .seccionPrecios__imgsPagPPal .textPrice {
    font-size: 0.9em;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .card-img-overlay .card-text {
    font-size: 0.7em;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .botonesAccionCompra {
    flex-direction: row;
  }
  .imgsPagPPal .img4__pagPpal .seccionVtaImgsPpal .botonesAccionCompra input {
    font-size: 65%;
    width: 90px;
    height: 20px;
  }
}
/* <---Guias y tallas---> */
@media screen and (min-width: 480px) {
  .Titulo_parrafoUno h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 35px;
    color: #BCA37F;
  }
  .section_parrafoUno .subTitulo_parrafoUno h3 {
    font-size: 1.1em;
    color: #BCA37F;
  }
  .section_parrafoUno .parrafoUno p {
    font-size: 12px;
    text-wrap: pretty;
  }
  .videoYt iframe {
    width: 420px;
    height: 255px;
    margin-left: 15px;
  }
  .parrafoDos p {
    font-size: 12px;
  }
  .parrafoDos .tablaMujeres {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .parrafoDos .tablaMujeres h2 {
    text-align: center;
    margin-top: 20px;
    color: #BCA37F;
  }
  .parrafoDos .tablaMujeres table {
    font-size: 12px;
    width: 90%;
  }
  .parrafoDos .tablaHombres {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .parrafoDos .tablaHombres h2 {
    text-align: center;
    margin-top: 20px;
    color: #BCA37F;
  }
  .parrafoDos .tablaHombres table {
    font-size: 12px;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .Titulo_parrafoUno h1 {
    font-size: 1.6em;
    margin: 35px;
  }
  .section_parrafoUno {
    margin-top: 30px;
  }
  .section_parrafoUno .subTitulo_parrafoUno h3 {
    font-size: 1.2em;
  }
  .section_parrafoUno .parrafoUno p {
    font-size: 13px;
  }
  .videoYt {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .videoYt iframe {
    width: 600px;
    height: 355px;
    margin: 5px auto;
  }
  .parrafoDos p {
    font-size: 13px;
  }
  .parrafoDos .tablaMujeres h2 {
    text-align: center;
    margin-top: 20px;
  }
  .parrafoDos table {
    font-size: 13px;
  }
  .tablaHombres h2 {
    text-align: center;
    margin-top: 20px;
  }
  .tablaHombres table {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .Titulo_parrafoUno h1 {
    text-align: center;
    font-size: 2em;
  }
  .section_parrafoUno .subTitulo_parrafoUno h3 {
    font-size: 1.3em;
  }
  .section_parrafoUno .parrafoUno p {
    font-size: 14px;
  }
  .section_parrafoUno .videoYt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_parrafoUno .videoYt iframe {
    width: 600px;
    height: 355px;
    margin: 5px auto;
  }
  .parrafoDos {
    margin-top: 60px;
  }
  .parrafoDos p {
    font-size: 14px;
  }
  .parrafoDos .tablaMujeres h2 {
    text-align: center;
    margin-top: 20px;
  }
  .parrafoDos table {
    font-size: 14px;
  }
  .tablaHombres h2 {
    text-align: center;
    margin-top: 20px;
  }
  .tablaHombres table {
    width: 100%;
    font-size: 14px;
  }
}
/* <---Nosotros---> */
@media screen and (min-width: 480px) {
  .nosotros .tituloNosotros {
    font-size: 1.3em;
    margin-top: 45px;
    text-align: center;
    color: #BCA37F;
  }
  .nosotros .textoNosotros {
    margin: 25px 15px 15px 15px;
    text-wrap: balance;
    padding-left: 5px;
    font-size: 14px;
  }
  .img__nosotrosUno img {
    width: 440px;
    height: auto;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    justify-content: end;
  }
  .img__nosotrosDos img {
    width: 440px;
    height: auto;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    justify-content: start;
  }
  .idMarca h2 {
    text-align: center;
    color: #BCA37F;
  }
  .mision h2 {
    font-size: 1.3em;
  }
  .mision p {
    width: 90%;
    height: 50px;
    margin: 15px;
    text-wrap: stable;
    font-size: 14px;
  }
  .vision h2 {
    font-size: 1.3em;
  }
  .vision p {
    width: 90%;
    height: 50px;
    margin: 15px;
    text-wrap: stable;
    font-size: 14px;
  }
  .separador {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .separador .imagen_separador {
    width: 100%;
  }
  .separador .imagen_separador img {
    width: 100%;
    height: auto;
    object-fit: fit;
    transform: scaleY(-1);
  }
  .seccionCaracteristicas {
    background-color: #EAD7BB;
    border: 1px solid #EAD7BB;
  }
  .seccionCaracteristicas h2 {
    text-align: center;
    font-size: 1.5em;
    color: #113946;
    margin: 35px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .seccionLogos {
    background-color: #EAD7BB;
    border: 1px solid #EAD7BB;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .seccionLogos .logo_nosotros img {
    width: 55px;
    height: auto;
    margin: 15px 25px;
  }
  .seccionLogos .logo_nosotros h3 {
    font-size: 1.1em;
  }
  .seccionLogos .logo_nosotros p {
    margin: 25px;
    text-wrap: pretty;
    font-size: 0.5em;
  }
}
@media screen and (min-width: 768px) {
  .nosotros {
    max-width: 60%;
    padding-left: 15px;
  }
  .nosotros h1 {
    font-size: 1.3em;
  }
  .img__nosotrosUno img {
    width: 450px;
    height: auto;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .img__nosotrosDos img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .separador {
    width: 100vh;
    margin: 0;
    padding: 0;
  }
  .separador .imagen_separador {
    width: 100%;
  }
  .separador .imagen_separador img {
    width: 100%;
    height: auto;
    object-fit: fit;
    transform: scaleY(-1);
  }
  .seccionCaracteristicas {
    background-color: #EAD7BB;
    border: 1px solid #EAD7BB;
  }
  .seccionCaracteristicas h2 {
    text-align: center;
    font-size: 1.6em;
    color: #113946;
    margin: 35px 0px 70px 0px;
  }
  .seccionLogos {
    background-color: #EAD7BB;
    border: 1px solid #EAD7BB;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .seccionLogos .logo_nosotros img {
    width: 55px;
    height: auto;
    margin: 15px 25px;
  }
  .seccionLogos .logo_nosotros h3 {
    font-size: 1.1em;
  }
  .seccionLogos .logo_nosotros p {
    margin: 25px;
    text-wrap: pretty;
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1024px) {
  .nosotros .tituloNosotros {
    font-size: 16px;
    margin: 45px 15px;
    font-size: 1.4em;
    padding-right: 30px;
  }
  .nosotros .textoNosotros {
    width: 80%;
    margin: 45px 15px 15px 15px;
    font-size: 15px;
    text-wrap: pretty;
    line-height: 30px;
    padding-left: 60px;
  }
  .img__nosotrosUno {
    width: 50%;
  }
  .img__nosotrosUno img {
    width: 500px;
    height: auto;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img__nosotrosDos img {
    width: 500px;
    height: auto;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mision {
    margin-top: 65px;
  }
  .mision p {
    font-size: 15px;
  }
  .vision {
    margin-top: 65px;
  }
  .vision p {
    font-size: 15px;
  }
  .separador {
    width: 100vh;
    margin: 0;
    padding: 0;
  }
  .separador .imagen_separador {
    width: 100%;
  }
  .separador .imagen_separador img {
    width: 100vw;
    height: auto;
    object-fit: fit;
    transform: scaleY(-1);
  }
  .seccionCaracteristicas {
    background-color: #EAD7BB;
    border: 5px solid #EAD7BB;
  }
  .seccionCaracteristicas h2 {
    text-align: center;
    font-size: 1.7em;
    color: #113946;
    margin: 35px 0px 70px 0px;
  }
  .seccionLogos {
    background-color: #EAD7BB;
    border: 1px solid #EAD7BB;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .seccionLogos .logo_nosotros img {
    width: 55px;
    height: auto;
    margin: 15px 25px;
  }
  .seccionLogos .logo_nosotros h3 {
    font-size: 1.2em;
  }
  .seccionLogos .logo_nosotros p {
    margin: 25px;
    text-wrap: pretty;
    font-size: 0.9em;
  }
}
@media screen and (min-width: 480px) {
  .columnaGestionUsuario {
    margin: 0px auto;
  }
  .columnaGestionUsuario .TituloRegistro {
    text-align: center;
    font-size: 1.1em;
    margin: 50px 0px 40px 0px;
    width: 95%;
    color: #ff4500;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro {
    border: solid 1px #113946;
    border-radius: 8px;
    padding: 25px;
    background-color: #EAD7BB;
    color: #113946;
    box-shadow: 0 3px 8px #113946;
    width: 95%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFormulario {
    text-align: center;
    margin: 0px auto;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFormulario input {
    width: 98%;
    margin: 4px auto;
    padding: 2px;
    font-size: 80%;
    border-radius: 5px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoGenero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 5px 5px 0 0;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoGenero p {
    font-size: 0.8em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFechanac {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0 0;
    font-size: 0.8em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFechanac input {
    width: 220px;
    border-radius: 5px;
    padding: 2px;
    font-size: 80%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .selectPais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 0 0;
    font-size: 0.8em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .selectPais select {
    width: 220px;
    border-radius: 5px;
    padding: 2px;
    font-size: 80%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .termCondic {
    font-size: 0.7em;
    margin: 10px 0 10px;
    align-content: center;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .botones_registro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 5px 5px 0 0;
    text-align: center;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .botones_registro input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 180px;
  }
  .columnaGestionUsuario .seccionFormularios .tituloIngSesion {
    text-align: center;
    font-size: 1.1em;
    margin: 50px 0px 40px 0px;
    width: 95%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion {
    border: solid 1px #113946;
    border-radius: 8px;
    padding: 25px;
    background-color: #EAD7BB;
    color: #113946;
    box-shadow: 0 3px 8px #113946;
    width: 95%;
    margin: 20px 0 60px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion input {
    width: 98%;
    margin: 4px auto;
    padding: 2px;
    font-size: 80%;
    border-radius: 5px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .ingDatosLogin {
    text-align: center;
    margin: 0px auto;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .ingDatosLogin input {
    width: 100%;
    margin: 4px auto;
    padding: 2px;
    font-size: 80%;
    border-radius: 5px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .gestionDatosUsuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .gestionDatosUsuario .checboxIngSesion {
    font-size: 0.7em;
    margin: 10px 0 10px;
    align-content: center;
    width: auto;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .gestionDatosUsuario .olvidoContrasena a {
    text-decoration: none;
    color: inherit;
    font-size: 0.7em;
    margin-right: 10px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .botonLogin {
    text-align: center;
    margin-top: 5px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .botonLogin button {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 90%;
  }
  .columnaGestionUsuario .seccionFormularios .img_relleno_pagSesioReg {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 95%;
  }
  .columnaGestionUsuario .seccionFormularios .img_relleno_pagSesioReg img {
    width: 60%;
    margin: 20px 0px 125px;
    border-radius: 40px;
  }
  .columnaGestionUsuario .seccionFormularios .img_relleno_pagSesioReg :hover {
    box-shadow: 0 3px 8px #113946;
  }
  .imgSesionReg {
    align-items: center;
    text-align: center;
    margin: 40px auto;
    width: 95%;
  }
  .imgSesionReg img {
    width: 450px;
    height: auto;
    align-items: center;
    border-radius: 10px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .columnaGestionUsuario {
    margin: 0px auto;
  }
  .columnaGestionUsuario .TituloRegistro {
    font-size: 1.2em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFormulario input {
    font-size: 85%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoGenero p {
    font-size: 0.9em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFechanac {
    font-size: 0.9em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .campoFechanac input {
    font-size: 85%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .selectPais {
    font-size: 0.9em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .selectPais select {
    font-size: 85%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .termCondic {
    font-size: 0.8em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioRegistro .botones_registro input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 180px;
  }
  .columnaGestionUsuario .seccionFormularios .tituloIngSesion {
    width: 95%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion {
    width: 98%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion input {
    width: 98%;
    margin: 4px auto;
    padding: 2px;
    font-size: 80%;
    border-radius: 5px;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .ingDatosLogin input {
    font-size: 85%;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .gestionDatosUsuario .checboxIngSesion {
    font-size: 0.8em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .gestionDatosUsuario .olvidoContrasena a {
    font-size: 0.8em;
  }
  .columnaGestionUsuario .seccionFormularios .formularioInicioSesion .botonLogin button {
    width: 90%;
  }
  .columnaGestionUsuario .seccionFormularios .img_relleno_pagSesioReg {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .columnaGestionUsuario .seccionFormularios .img_relleno_pagSesioReg img {
    width: 50%;
    border-radius: 40px;
  }
  .columnaGestionUsuario .seccionFormularios .img_relleno_pagSesioReg :hover {
    box-shadow: 0 3px 8px #113946;
  }
  .imgSesionReg {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 120px 0 60px 0;
  }
  .imgSesionReg img {
    width: 550px;
    height: auto;
    margin: 10px auto;
    align-items: center;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .formularioInicioSesion {
    margin-top: 300px;
  }
  .imgSesionReg {
    text-align: center;
    margin: 20px auto;
    width: auto;
  }
  .imgSesionReg img {
    width: 550px;
    object-fit: cover;
    margin: 10px auto;
    align-items: center;
    border-radius: 10px;
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .tituloArticuloVta .articulo {
    font-size: 1.1em;
  }
  .tituloArticuloVta .ref_articulo {
    font-size: 0.7em;
    color: #ff4500;
    font-style: italic;
  }
  .columnaIzqCompras .imgs_vta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsA {
    margin: 0px 5px 0px;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsA img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    opacity: 0.97;
    box-shadow: 0 3px 8px black;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsA :hover {
    opacity: 1;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsB {
    margin: 5px 5px 0px;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsB img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    opacity: 0.97;
    box-shadow: 0 3px 8px black;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsB :hover {
    opacity: 1;
  }
  .columnaIzqCompras .botones_vta {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  .columnaIzqCompras .botones_vta input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 30%;
  }
  .columnaIzqCompras .descripcion_productovta {
    margin-top: 20px;
    font-size: 0.8em;
    line-height: 15px;
    text-wrap: pretty;
  }
  .columnaDerCompras .precio_articulovta {
    color: #ff4500;
  }
  .columnaDerCompras .seccionColorProd {
    display: flex;
  }
  .columnaDerCompras .seccionColorProd .tittleColores {
    font-size: 0.8em;
  }
  .columnaDerCompras .seccionColorProd .color-selector {
    text-align: center;
  }
  .columnaDerCompras .seccionColorProd .color-selector .color-input {
    display: none;
  }
  .columnaDerCompras .seccionColorProd .color-selector .color-label {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  .columnaDerCompras .seccionTallaProd {
    font-size: 0.8em;
  }
  .columnaDerCompras .seccionTallaProd a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  .columnaDerCompras .seccionTallaProd .botonestallacompra {
    margin: 5px 0px 15px;
  }
  .columnaDerCompras .seccionTallaProd .botonestallacompra input {
    width: 60px;
    border-radius: 5px;
    font-size: 0.8em;
    background-color: #EAD7BB;
    color: #113946;
  }
  .columnaDerCompras .bloqueCantidadLogos {
    display: flex;
    justify-content: space-between;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd {
    font-size: 0.7em;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd input {
    width: 120px;
    height: 20px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd .botonesAccionCompra {
    margin-bottom: 10px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    font-size: 80%;
    margin: 2px;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg {
    display: flex;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg .textoLogos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 0.5em;
    margin: 15px;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg img {
    width: 30px;
    height: auto;
    text-align: center;
    margin: 0px auto;
  }
}
@media screen and (min-width: 768px) {
  .tituloArticuloVta .articulo {
    font-size: 1.3em;
  }
  .tituloArticuloVta .ref_articulo {
    font-size: 0.9em;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsA img {
    width: 230px;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsB img {
    width: 230px;
  }
  .columnaIzqCompras .botones_vta input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 30%;
    font-size: 70%;
  }
  .columnaIzqCompras .descripcion_productovta {
    font-size: 0.9em;
    line-height: 20px;
  }
  .columnaDerCompras .precio_articulovta {
    font-size: 1.1em;
  }
  .columnaDerCompras .seccionColorProd .tittleColores {
    font-size: 0.9em;
  }
  .columnaDerCompras .seccionColorProd .color-selector .color-label {
    width: 28px;
    height: 28px;
  }
  .columnaDerCompras .seccionTallaProd {
    font-size: 0.9em;
  }
  .columnaDerCompras .seccionTallaProd .botonestallacompra input {
    width: 60px;
    font-size: 0.9em;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg .textoLogos {
    font-size: 0.6em;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg img {
    width: 35px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd {
    font-size: 0.7em;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd input {
    width: 120px;
    height: 20px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    font-size: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .tituloArticuloVta .articulo {
    font-size: 1.4em;
  }
  .tituloArticuloVta .ref_articulo {
    font-size: 0.9em;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsA img {
    width: 230px;
  }
  .columnaIzqCompras .imgs_vta .grupoImgsB img {
    width: 230px;
  }
  .columnaIzqCompras .botones_vta input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 30%;
    font-size: 70%;
  }
  .columnaIzqCompras .descripcion_productovta {
    font-size: 0.9em;
    line-height: 20px;
  }
  .columnaDerCompras .precio_articulovta {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .columnaDerCompras .seccionColorProd .tittleColores {
    font-size: 1em;
  }
  .columnaDerCompras .seccionColorProd .color-selector .color-label {
    width: 28px;
    height: 28px;
  }
  .columnaDerCompras .seccionTallaProd {
    font-size: 1em;
    margin-top: 60px;
  }
  .columnaDerCompras .seccionTallaProd .botonestallacompra {
    margin-bottom: 20px;
  }
  .columnaDerCompras .seccionTallaProd .botonestallacompra input {
    width: 60px;
    font-size: 1em;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg {
    margin-top: 50px;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg .textoLogos {
    font-size: 0.6em;
  }
  .columnaDerCompras .bloqueCantidadLogos .areaTextoLogosVrAgreg .textoLogosVrAgreg img {
    width: 35px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd {
    font-size: 0.8em;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd input {
    width: 120px;
    height: 20px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd .botonesAccionCompra {
    margin-top: 50px;
  }
  .columnaDerCompras .bloqueCantidadLogos .seccionCantidadProd .botonesAccionCompra input {
    width: 140px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: #113946;
    color: white;
    font-size: 60%;
    font-weight: 400;
    padding: 2px;
    border: #FFF2D8 5px;
    width: 250px;
    font-size: 90%;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
