
.bodyControl{
    width: 100%;
    background-color: $beige;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    .tituloControl {
        color: $orangered;
        font-style: italic;
        margin-top: 20px;
        font-size: 30px;
        @include centrarElementos;
    }
    .formularioRegistro {
        align-items: center;
        text-align: center; 
        margin-top: 100px;
        padding: 10px;
        .tituloIngresoProds{
            color: $blueking;
            font-style: italic;
            font-size: 20px;
            @include centrarElementos;  
        }
        .campoFormulario {
            text-align: center;
            margin: 0px auto;
            input {
                width: 40%;
                margin: 3px auto;
                padding: 2px;
                font-size: 80%;
                border-radius: 5px;
            }
        }
        .campoGenero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 3px auto;
            p {
                margin: 5px;
                font-size: 1em;
            }
        }
        .termCondic {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 0.7em;
            margin: 10px 0 10px;
            align-content: center;
        }
        .botones_registro {
            @include centrarElementos;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            input {
                @include botonesDeAccion;
                align-items: center;
                font-size: 70%;
                width: 250px;
                height: 20px;
                margin: 0.5px;
            }
        }
    }
}

