/* <---Guias y tallas---> */
@media screen and (min-width: 320px) {
    .Titulo_parrafoUno h1{
      text-align: center;
      margin: 35px;
      color: $brown;
      @include h1_size320;
    }
    .section_parrafoUno {
      .subTitulo_parrafoUno h3{
        color: $brown;
        margin-bottom: 25px;
        @include h3_size320;
      }
    .parrafoUno {
      p{
        text-wrap: pretty;
        @include p_size320;
      }
    }
    }
    .videoYt {
      @include centrarElementos;
      margin: 1px auto;
      iframe {
        width: 260px;
        height: 180px;
      }
    }
    .parrafoDos {
      margin-top: 30px;
      p {
        @include p_size320;
      }
      .tablaMujeres {
        @include centrarElementos;
        h2 {
          text-align: center;
          margin-top: 20px;
          color: $brown;
          @include h2_size320;
        }
        table {
          width: 90%;
          @include p_size320;
        }
      }
      .tablaHombres {
        @include centrarElementos;
        h2 {
          text-align: center;
          margin-top: 20px;
          color: $brown;
          margin-left: -15px;
          @include h2_size320;
        }
        table {
          width: 90%;
          @include p_size320;
        }
      }
    }
  }
  
@media screen and (min-width: 480px) {
    .Titulo_parrafoUno h1{
      @include h1_size480;
    }
    .section_parrafoUno {
      .subTitulo_parrafoUno h3{
        @include h3_size480;
      }
      .parrafoUno {
        p{
          @include p_size480;
        }
      }
    }
    .videoYt {
      iframe {
        width: 420px;
        height: 255px;
      }
    }
    .parrafoDos {
      p {
        @include p_size480;
      }
      .tablaMujeres {
        @include centrarElementos;
        h2 {
          @include h2_size480;
        }
        table {
          @include p_size480;
        }
      }
      .tablaHombres {
        h2 {
          @include h2_size480;
        }
        table {
          @include p_size480;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .Titulo_parrafoUno h1{
      margin: 35px;
      @include h1_size768;
    }
    .section_parrafoUno {
      margin-top: 30px;
      .subTitulo_parrafoUno h3{
        @include h3_size768;
      }
    .parrafoUno {
      p{
        @include p_size768;
      }
    }
    }
    .videoYt {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      iframe {
        width: 600px;
        height: 355px;
        margin: 5px auto;
      }
    }
    .parrafoDos {
      p {
        margin-top: 35px;
        @include p_size768;
      }
      .tablaMujeres {
        h2 {
          margin-top: 20px;
          @include h2_size768;
        }
      }
      table {
        @include p_size768;
      }
    }
    .tablaHombres {
      h2 {
        margin-top: 20px;
        @include h2_size768;
      }
      table {
        margin-bottom: 65px;
        @include p_size768;
      }
    }
  }
  
  @media screen and (min-width: 1024px) {
    .Titulo_parrafoUno h1{
      @include h1_size1024;
    }
    .section_parrafoUno {
      .subTitulo_parrafoUno h3{
        @include h3_size1024;
      }
      .parrafoUno {
        p{
          @include p_size1024;
        }
      }
      .videoYt {
        width: 80%;
        margin-top: 50px;
        iframe {
          width: 450px;
          height: 305px;
          margin: 5px auto;
        }
      }
    }
    .parrafoDos {
      margin-top: 50px;
      p {
        @include p_size1024;
      }
      .tablaMujeres {
        margin-top: 40px;
        h2 {
          margin-top: 20px;
          @include h2_size1024;
        }
      }
      table {
        @include p_size1024;
      }
    }
    .tablaHombres {
      margin-top: 40px;
      h2 {
        margin-top: 20px;
        @include h2_size1024;
      }
      table {
        width: 100%;
        margin-bottom: 40px;
        @include p_size1024;
      }
    }
  }