/* <---Guias y tallas---> */
@media screen and (min-width: 480px) {
    .Titulo_parrafoUno h1{
      text-align: center;
      font-size: 1.5em;
      margin: 35px;
      color: $brown;
    }
    .section_parrafoUno {
      .subTitulo_parrafoUno h3{
        font-size: 1.1em;
        color: $brown;
      }
    .parrafoUno {
      p{
        font-size: 12px;
        text-wrap: pretty;
      }
    }
    }
    .videoYt {
      iframe {
        width: 420px;
        height: 255px;
        margin-left: 15px;
      }
    }
    .parrafoDos {
      p {
        font-size: 12px;
      }
      .tablaMujeres {
        @include centrarElementos;
        h2 {
          text-align: center;
          margin-top: 20px;
          color: $brown;
        }
        table {
          font-size: 12px;
          width: 90%;
        }
      }
      .tablaHombres {
        @include centrarElementos;
        h2 {
          text-align: center;
          margin-top: 20px;
          color: $brown;
        }
        table {
          font-size: 12px;
          width: 90%;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .Titulo_parrafoUno h1{
      font-size: 1.6em;
      margin: 35px;
    }
    .section_parrafoUno {
      margin-top: 30px;
      .subTitulo_parrafoUno h3{
        font-size: 1.2em;
      }
    .parrafoUno {
      p{
        font-size: 13px;
      }
    }
    }
    .videoYt {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      iframe {
        width: 600px;
        height: 355px;
        margin: 5px auto;
      }
    }
    .parrafoDos {
      p {
        font-size: 13px;
      }
      .tablaMujeres {
        h2 {
          text-align: center;
          margin-top: 20px;
        }
      }
      table {
        font-size: 13px;
      }
    }
    .tablaHombres {
      h2 {
        text-align: center;
        margin-top: 20px;
      }
      table {
        font-size: 12px;
      }
    }
  }
  
  @media screen and (min-width: 1024px) {
    .Titulo_parrafoUno h1{
      text-align: center;
      font-size: 2em;
    }
    .section_parrafoUno {
      .subTitulo_parrafoUno h3{
        font-size: 1.3em;
      }
      .parrafoUno {
        p{
          font-size: 14px;
        }
      }
      .videoYt {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        iframe {
          width: 600px;
          height: 355px;
          margin: 5px auto;
        }
      }
    }
    .parrafoDos {
      margin-top: 60px;
      p {
        font-size: 14px;
      }
      .tablaMujeres {
        h2 {
          text-align: center;
          margin-top: 20px;
        }
      }
      table {
        font-size: 14px;
      }
    }
    .tablaHombres {
      h2 {
        text-align: center;
        margin-top: 20px;
      }
      table {
        width: 100%;
        font-size: 14px;
      }
    }
  }