@media screen and (min-width: 320px) {
    header { 
        width: 100%;
        overflow: hidden;
        .mensaje_inicial {
            margin-top: 2px;
            height: 12px;
            font-size: 50%;
            font-weight: bolder;
            display: inline-block;
            white-space: nowrap;
            position: relative;
            animation: desplazar 15s linear infinite;
            @keyframes desplazar {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
        .menu_navegacion {
            display: flex;
            justify-content: space-between;
            background-color: rgb(17, 57, 70);
            .espacioMarca {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 10px;
                .tittleMarca {
                    width: auto;
                    text-wrap: nowrap;
                    h2{
                        font-family: 'Ubuntu', sans-serif;
                        color: rgb(234, 215, 187);
                        text-decoration: none;
                        font-family: 'Poppins', sans-serif;
                        font-size: 0.7rem;
                        padding-top: 4px;
                        margin: 2px;
                    }
                    h2:hover {
                        color: white;
                    }
                }
                .logoMarca {
                    img{
                        width: 18%;
                        height: auto;
                        border-radius: 50%;
                        margin: 2px 0px 0px 5px;
                    }
                }
            }
            .barraBusqueda{
                margin: auto;
                .form-control {
                    width: 100px;
                    height: 20px;
                    
                }
                .btn {
                    width: 40px;
                    height: 20px;
                    padding: 1px;
                }
            }
            .navbar {
                margin-right: 5px;
                .container-fluid {
                    .navbar-toggler {
                        font-size: 50%;
                        height: auto;
                        background-color: $beige; 
                        border: 1px solid $lightbeige;
                    }
                    .navbar-nav a{
                        color: rgb(188, 163, 127);
                        font-size: 0.6rem;
                    }
                    .navbar-nav li a:hover{
                        color: white;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 480px) {
    header { 
        .mensaje_inicial {
            margin-top: 4px;
            height: 12px;
            font-size: 60%;
        }
        .menu_navegacion {
            .espacioMarca {
                margin-left: 10px;
                .tittleMarca{
                    h2{
                        font-size: 1.2rem;
                        padding-top: 5px;
                        margin: 15px;
                    }
                    .tittleMarca h2:hover {
                        color: white;
                    }
                }
                .logoMarca {
                    img{
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
            .navbar {
                margin-right: 25px;
                .container-fluid {
                    .navbar-toggler {
                        font-size: 100%;
                    }
                    .navbar-nav a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    header {
        .mensaje_inicial {
            @keyframes desplazar {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
        .menu_navegacion {
            .espacioMarca {
                .tittleMarca h2{
                    font-size: 1.3rem;
                }
            }
        } 
    }      
}
@media screen and (min-width: 1024px) {
    .mensaje_inicial {
        @keyframes desplazar {
            0% {
                transform: translateX(150%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }
}