/* <---Nosotros---> */
@media screen and (min-width: 320px) {
  main{
    overflow: hidden;
  } 
  .nosotros {
    .tituloNosotros {
      margin-top: 45px;
      text-align: center;
      color: $brown;      
      @include h1_size320;
    }
    .textoNosotros {
      margin: 25px 15px 15px 15px;
      text-wrap: balance;
      padding-left: 5px;
      @include p_size320;
    }
  }
  .img__nosotrosUno {
    img {
      width: 270px;
      height: auto;
      border-radius: 5px;
      margin: 15px auto;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  .img__nosotrosDos {
    img {
      width: 270px;
      height: auto;
      border-radius: 5px;
      margin: 15px auto;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  .idMarca {
    h2 {
      text-align: center;
      color: $brown;
      @include h2_size320;
    }
  }
  .mision {
    h2 {
      @include h2_size320;
    }
    p {
    height: 50px;
    margin: 15px;
    text-wrap: stable;
    margin-bottom: 40px;
    @include p_size320;
    }
  }
  .vision {
    h2 {
      @include h2_size320;
    }
    p {
      height: 50px;
      margin: 15px;
      text-wrap: stable;
      margin-bottom: 40px;
      @include p_size320;
    }
  }
  .seccionCaracteristicas {
    background-color: $beige;
    overflow-y: hidden;
    .tituloCaracteristicas {
      border: 1px solid $beige;
      color: $blueking;
      text-align: center;
      color: $blueking;
      margin: 55px 0px 40px 0px;
      h2 {
        @include h2_size320;
      }
    }
    .seccionLogos {
      background-color: $beige;
      border: 1px solid $beige;
      text-align: center;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      margin-left: 3px;
      .logo_nosotros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        img {
          width: 35px;
          height: auto;
          margin: 2px auto;
        }
        h3 {
          @include h3_size320;
        }
        p {
          text-align: center;
          text-wrap: pretty;
          margin: 15px 0 45px 0;
          @include pLogos_size320;
        }
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .nosotros {
    .tituloNosotros {
      @include h1_size480;
    }
    .textoNosotros {
      @include p_size480;
    }
  }
  .img__nosotrosUno {
    img {
      width: 440px;
      justify-content: end;
    }
  }
  .img__nosotrosDos {
    img {
      width: 440px;
      justify-content: start;
    }
  }
  .idMarca {
    h2 {
      @include h2_size480;
    }
  }
  .mision {
    margin-top: 50px;
    height: 180px;
    h2 {
      @include h2_size480;
    }
    p {
    width: 90%;
    height: 50px;
    @include p_size480;
    }
  }
  .vision {
    margin-bottom: 35px;
    height: 180px;
    h2 {
      @include h2_size480;
    }
    p {
      width: 90%;
      height: 50px;
      @include p_size480;
    }
  }
  .seccionCaracteristicas {
    .tituloCaracteristicas {
      @include h2_size480;
    }
    .seccionLogos {
      .logo_nosotros {
        img {
          width: 40px;
          margin: 5px auto; 
        }
        h3 {
          @include h3_size480;
        }
        p {
          @include pLogos_size480;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
    .nosotros {
      max-width: 95%;
      margin: 5px auto;
      .tituloNosotros {
        @include h1_size768;
      }
      .textoNosotros {
        @include p_size768;
      }
    }
    .img__nosotrosUno {
      img {
        width: 400px;
        @include centrarElementos;
      }
    }
    .img__nosotrosDos {
      img {
        width: 400px;
      }
    }
    .idMarca {
      h2 {
        @include h2_size768;
      }
    }
    .mision {
      h2 {
        @include h2_size768;
      }
      p {
      @include p_size768;
      }
    }
    .vision {
      h2 {
        @include h2_size768;
      }
      p {
        @include p_size768;
      }
    }
    .seccionCaracteristicas {
      .tituloCaracteristicas {
        @include h2_size768;
      }
      .seccionLogos {
        .logo_nosotros {
          img {
            width: 48px;
          }
          h3 {
            @include h3_size768;
          }
          p {
            margin: 15px 0 55px 0;
            @include pLogos_size768;
          }
        }
      }
    }
}
@media screen and (min-width: 1024px) {
    .nosotros {
      .tituloNosotros {
        margin: 45px 15px;
        @include h1_size1024;
      }
      .textoNosotros {
        margin: 45px 15px 15px 15px;
        text-wrap: pretty;
        line-height: 30px;
        padding-left: 60px;
        @include p_size1024;
      }
    }
    .img__nosotrosUno {
      width: 50%;
      img {
        width: 480px;
        margin-top: 55px;
      }
    }
    .img__nosotrosDos {
      img {
        width: 480px;
        margin-bottom: 60px;
      }
    }
    .mision {
      margin-top: 10px;
      p {
        @include p_size1024;
      }
    }
    .vision {
      margin-top: 15px;
      p {
        margin-bottom: 60px;
        @include p_size1024;
      }
    }
    .seccionCaracteristicas {
      h2 {
        margin: 35px 0px 70px 0px;
        @include h2_size1024;
      }
      .seccionLogos {
        .logo_nosotros {
        img {
          width: 55px;
          margin: 15px auto;
        }
        h3 {
          @include h3_size1024;
        }
        p {
          margin: 5px 0 85px 0;
          @include pLogos_size1024;
        }
      }
    }
  }
}