@media screen and (min-width: 480px) {
    .columnaGestionUsuario {
        margin: 0px auto;
        .TituloRegistro {
            text-align: center;
            font-size: 1.1em;
            margin: 50px 0px 40px 0px;
            width: 95%;
            color: $orangered;
        }
        .seccionFormularios {
            .formularioRegistro {
                border: solid 1px $blueking;
                border-radius: 8px;
                padding: 25px;
                background-color: $beige;
                color: $blueking;
                box-shadow: 0 3px 8px $blueking;
                width: 95%;
                .campoFormulario{
                    text-align: center;
                    margin: 0px auto;
                    input {
                        width: 98%;
                        margin: 4px auto;
                        padding: 2px;
                        font-size: 80%;
                        border-radius: 5px;
                    }
                }
                .campoGenero {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                    margin: 5px 5px 0 0;
                    p {
                        font-size: 0.8em;
                    }
                }
                .campoFechanac {
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 5px 0 0;
                    font-size: 0.8em;
                    input {
                        width: 220px;
                        border-radius: 5px;
                        padding: 2px;
                        font-size: 80%;
                    }
                }
                .selectPais {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 5px 5px 0 0;
                    font-size: 0.8em;
                    select {
                        width: 220px;
                        border-radius: 5px;
                        padding: 2px;
                        font-size: 80%;
                    }
                }
                .termCondic {
                    font-size: 0.7em;
                    margin: 10px 0 10px;
                    align-content: center;
                }
                .botones_registro {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                    margin: 5px 5px 0 0;
                    text-align: center;
                    input {
                        @include botonesDeAccion;
                        width: 180px;
                    }
                }
            }
            .tituloIngSesion {
                text-align: center;
                font-size: 1.1em;
                margin: 50px 0px 40px 0px;
                width: 95%;
            }
            .formularioInicioSesion {
                border: solid 1px $blueking;
                border-radius: 8px;
                padding: 25px;
                background-color: $beige;
                color: $blueking;
                box-shadow: 0 3px 8px $blueking;
                width: 95%;
                margin: 20px 0 60px;
                input {
                    width: 98%;
                    margin: 4px auto;
                    padding: 2px;
                    font-size: 80%;
                    border-radius: 5px;
                }
                .ingDatosLogin {
                    text-align: center;
                    margin: 0px auto;
                    input {
                        width: 100%;
                        margin: 4px auto;
                        padding: 2px;
                        font-size: 80%;
                        border-radius: 5px;
                    }
                }
                .gestionDatosUsuario {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .checboxIngSesion {
                        font-size: 0.7em;
                        margin: 10px 0 10px;
                        align-content: center;
                        width: auto;
                    }
                    .olvidoContrasena {
                        a {
                            text-decoration: none;
                            color: inherit;
                            font-size: 0.7em;
                            margin-right: 10px;
                        }
                    }
                }
                .botonLogin {
                    text-align: center;
                    margin-top: 5px;
                    button {
                        @include botonesDeAccion;
                        width: 90%
                    }
                }
            }
            .img_relleno_pagSesioReg {
                @include centrarElementos;
                width: 95%;
                img { 
                    width: 60%;
                    margin: 20px 0px 125px;
                    border-radius: 40px;
                }
                :hover {
                    box-shadow: 0 3px 8px $blueking;
                }
            }
        }
    }
    .imgSesionReg {
        align-items: center;
        text-align: center;
        margin: 40px auto;
        width: 95%;
        img {
            width: 450px;
            height: auto;
            align-items: center;
            border-radius: 10px;
            margin-right: 25px;
        }
    }
}

@media screen and (min-width: 768px) {
    .columnaGestionUsuario {
        margin: 0px auto;
        .TituloRegistro {
            font-size: 1.2em;
        }
        .seccionFormularios {
            .formularioRegistro {
                .campoFormulario {
                    input {
                        font-size: 85%;
                    }
                }
                .campoGenero {
                    p {
                        font-size: 0.9em;
                    }
                }
                .campoFechanac {
                    font-size: 0.9em;
                    input {
                        font-size: 85%;
                    }
                }
                .selectPais {
                    font-size: 0.9em;
                    select {
                        font-size: 85%;
                    }
                }
                .termCondic {
                    font-size: 0.8em;
                }
                .botones_registro {
                    input {
                        @include botonesDeAccion;
                        width: 180px;
                    }
                }
            }
            .tituloIngSesion {
                width: 95%;
            }
            .formularioInicioSesion {
                width: 98%;
                input {
                    width: 98%;
                    margin: 4px auto;
                    padding: 2px;
                    font-size: 80%;
                    border-radius: 5px;
                }
                .ingDatosLogin {
                    input {
                        font-size: 85%;
                    }
                }
                .gestionDatosUsuario {
                    .checboxIngSesion {
                        font-size: 0.8em;
                    }
                    .olvidoContrasena {
                        a {
                            font-size: 0.8em;
                        }
                    }
                }
                .botonLogin {
                    button {
                        width: 90%
                    }
                }
            }
            .img_relleno_pagSesioReg {
                width: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
                img { 
                    width: 50%;
                    border-radius: 40px;
                }
                :hover {
                    box-shadow: 0 3px 8px $blueking;
                }
            }
        }
    }    
    .imgSesionReg {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 120px 0 60px 0;
        img {
            width: 550px;
            height: auto;
            margin: 10px auto;
            align-items: center;
            border-radius: 10px;
        }
    }
}
    
@media screen and (min-width: 1024px) {
    .formularioInicioSesion {
        margin-top: 300px;
    }

    .imgSesionReg {
        text-align: center;
        margin: 20px auto;
        width: auto;
        img {
            width: 550px;
            object-fit: cover;
            margin: 10px auto;
            align-items: center;
            border-radius: 10px;
            display:flex;
        }
    }
}