@media screen and (min-width: 480px) {
    .columnaGestionUsuario {
        .TituloRegistro {
            text-align: center;
            font-size: 0.9em;
            .formularioRegistro {
                .campoFormulario{
                    input {
                        width: 100vw;
                    }
                }
            }
        }
    }
    
    
    
    .selectPais {
    }
    .botones_registro {
    }
    .columnasSesionReg {
    }
    .formularioIngreso {
    }
    .tituloIngSesion {
    }
    .email {
    }
    .ingContrasenaIngreso {
    }
    .password {
    }
    .gestionDatosUsuario {
    }
    .checboxIngSesion {
    }
    .olvidoContrasena {
    }
    .botonLogin {
    }
    .imgSesionReg {
    }
    
}