$lightbeige: #FFF2D8;
$beige: #EAD7BB;
$brown: #BCA37F;
$blueking: #113946;
$orangered: #ff4500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  background-color: white;
  font-family: "Quicksand", sans-serif;
}
@import "header";
@import "footer";

/* <---Página Inicio---> */
@media screen and (min-width: 480px) {
  .imgSupFondo {
    background-image: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 100px;
    margin: 5px auto;
    h3 {
      margin-top: 30px;
      text-align: center;
      align-content: center;
    }
  }

  .imgBotonesArriba {
    background-image: url(https://images.pexels.com/photos/235525/pexels-photo-235525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: auto;
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.8;
    margin-bottom: 5px;
    button {
      color: white;
      font-size: 1.7rem;
      width: 250px;
    }

    button:hover {
      color: $brown;
    }
  }
  .carrete_prendas {
    margin: 5px auto;
    img {
      border-radius: 5px;
      min-height: fit-content;
    }
  }
  .imgsPagPPal {
    align-items: center;
    align-content: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.9fr 1fr 0.9fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 5px;
    grid-template-areas:
      "img1__pagPpal img2__pagPpal img4__pagPpal"
      "img1__pagPpal img3__pagPpal img4__pagPpal";

    .img1__pagPpal {
      grid-area: img1__pagPpal;
      width: 100%;
      max-width: 100%;
    }
    .img1__pagPpal img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 2%;
    }
    .img2__pagPpal {
      grid-area: img2__pagPpal;
      width: 100%;
      max-width: 100%;
    }
    .img2__pagPpal img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10%;
      object-fit: cover;
      margin-top: 90px;
    }
    .img3__pagPpal {
      grid-area: img3__pagPpal;
      width: 100%;
      max-width: 100%;
    }
    .img3__pagPpal img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10%;
      object-fit: cover;
      margin-bottom: 90px;
    }
    .img4__pagPpal {
      grid-area: img4__pagPpal;
      width: 100%;
      max-width: 100%;
    }
    .img4__pagPpal img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 2%;
      object-fit: cover;
    }
  }
  .divider {
    width: 100vw;
    .imgDivider img {
      align-content: end;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .carrete_recomendados {
    background-color: $lightbeige;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .card {
      width: 20%;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      max-width: 100%;
      max-height: 100%;
      position: relative;

      .card-body {
        display: inline;
        justify-content: space-between;
        width: auto;
        align-content: center;
        max-width: 100%;

        .card-title {
          text-decoration: none;
          font-size: 0.8rem;
          max-width: 100%;
        }

        h6 {
          color: $orangered;
          font-size: 0.8rem;
          max-width: 100%;
        }

        .card-text {
          text-decoration: none;
          font-size: 0.6em;
        }

        .seccionPrecios {
          display: flex;
          text-align: left;
          justify-content: space-evenly;
          width: 100vw;
          max-width: 100%;

          .textoTachado {
            text-decoration: line-through;
            font-size: 0.7rem;
          }

          .card-textPrice {
            color: $orangered;
            font-size: 0.7rem;
          }

          p {
            font-size: 0.8rem;
          }
        }

        .btn {
          width: 100%;
          min-width: 70px;
          font-size: 0.5em;
          background-color: $blueking;
          align-items: center;
          align-content: center;
          margin: 2px auto;
          margin-left: -11px;
        }
      }
    }

    /* Se ubica este hover en este punto ya que al ponerlo arriba aplicaba el sombreado independientemente a cada elemento de la card */
    .card:hover {
      box-shadow: 0 8px 16px $blueking;
    }
  }
}
@media screen and (min-width: 768px) {
  .carrete_recomendados {
    .card {
      .card-body {
        .card-title {
          text-decoration: none;
          font-size: 0.9rem;
          max-width: 100%;
        }

        h6 {
          color: $orangered;
          font-size: 0.9rem;
          max-width: 100%;
        }

        .card-text {
          text-decoration: none;
          font-size: 0.8em;
        }
        .seccionPrecios {
            .textoTachado {
            text-decoration: line-through;
            font-size: 0.9rem;
          }

          .card-textPrice {
            color: $orangered;
            font-size: 0.9rem;
          }

          p {
            font-size: 0.9rem;
          }
        }

        .btn {
          width: 100%;
          min-width: 70px;
          font-size: 0.7em;
          background-color: $blueking;
          align-items: center;
          margin: 5px 0px 0px 0px;
        }
      }
    }
  }
  .footer {
    .itemFooter {
      align-items: center;
      width: 20vw;

      h2 {
        align-items: center;
        font-size: 0.7rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
      p {
        line-height: 0.4;
        font-size: 0.5rem;
        text-decoration: none;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .imgBotonesArriba{
    height: auto;
    object-fit: cover;
  }
  .carrete_recomendados {
    .card {
      .card-body {
        .card-title {
          text-decoration: none;
          font-size: 1rem;
          max-width: 100%;
        }

        h6 {
          color: $orangered;
          font-size: 1.2rem;
          max-width: 100%;
        }

        .card-text {
          text-decoration: none;
          font-size: 0.9em;
        }

        .seccionPrecios {
          display: flex;
          text-align: left;
          justify-content: space-evenly;
          width: 100vw;
          max-width: 100%;

          .textoTachado {
            text-decoration: line-through;
            font-size: 1rem;
          }

          .card-textPrice {
            color: $orangered;
            font-size: 1rem;
          }

          p {
            font-size: 0.9rem;
          }
        }

        .btn {
          width: 100%;
          min-width: 70px;
          font-size: 0.8em;
          background-color: $blueking;
          align-items: center;
          margin: 5px 0px 0px 0px;
        }
      }
    }
  }
  .footer {
    .itemFooter {
      h2 {
        align-items: center;
        font-size: 0.8em;
        font-weight: bold;
        padding: 10px 0px;
      }
      p {
        line-height: 0.4;
        font-size: 0.7rem;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

/* <---Guias y tallas---> */
@media screen and (min-width: 480px) {
  .Titulo_parrafoUno h1{
    text-align: center;
    font-size: 1.5em;
    margin: 35px;
    color: $blueking;
  }
  .section_parrafoUno {
    .subTitulo_parrafoUno h3{
      font-size: 1.1em;
    }
  .parrafoUno {
    p{
      font-size: 12px;
      text-wrap: pretty;
    }
  }
  }
  .videoYt {
    iframe {
      width: 420px;
      height: 255px;
      margin-left: 15px;
    }
  }
  .parrafoDos {
    p {
      font-size: 12px;
    }
    .tablaMujeres {
      h2 {
        text-align: center;
        margin-top: 20px;
        color: $brown;
      }
    }
    table {
      font-size: 12px;
    }
  }
  .tablaHombres {
    h2 {
      text-align: center;
      margin-top: 20px;
      color: $brown;
    }
    table {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .Titulo_parrafoUno h1{
    font-size: 1.6em;
    margin: 35px;
  }
  .section_parrafoUno {
    .subTitulo_parrafoUno h3{
      font-size: 1.2em;
    }
  .parrafoUno {
    p{
      font-size: 13px;
    }
  }
  }
  .videoYt {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    iframe {
      width: 600px;
      height: 355px;
      margin: 5px auto;
    }
  }
  .parrafoDos {
    p {
      font-size: 13px;
    }
    .tablaMujeres {
      h2 {
        text-align: center;
        margin-top: 20px;
      }
    }
    table {
      font-size: 13px;
    }
  }
  .tablaHombres {
    h2 {
      text-align: center;
      margin-top: 20px;
    }
    table {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Titulo_parrafoUno h1{
    text-align: center;
    font-size: 2em;
  }
  .section_parrafoUno {
    .subTitulo_parrafoUno h3{
      font-size: 1.3em;
    }
    .parrafoUno {
      p{
        font-size: 14px;
      }
    }
    .videoYt {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      iframe {
        width: 600px;
        height: 355px;
        margin: 5px auto;
      }
    }
  }
  .parrafoDos {
    margin-top: 60px;
    p {
      font-size: 14px;
    }
    .tablaMujeres {
      h2 {
        text-align: center;
        margin-top: 20px;
      }
    }
    table {
      font-size: 14px;
    }
  }
  .tablaHombres {
    h2 {
      text-align: center;
      margin-top: 20px;
    }
    table {
      width: 100%;
      font-size: 14px;
    }
  }
}

/* <---Nosotros---> */
@media screen and (min-width: 480px) {
  .nosotros {
    h1 {
      font-size: 1.4em;
      margin-top: 45px;
      text-align: center;
      color: $blueking; 
    }
    p {
      font-size: 14px;
      margin: 25px 15px 15px 15px;
      text-wrap: balance;
    }
  }
  .col-6 {
  }
  .img__nosotrosUno {
    img {
      width: 440px;
      height: auto;
      border-radius: 5px;
      margin: 15px;
      display: flex;
      justify-content: start;
    }
  }
  .img__nosotrosDos {
    img {
      width: 440px;
      height: auto;
      border-radius: 5px;
      margin: 15px;
      display: flex;
      justify-content: start;
    }
  }
  .idMarca {
    h2 {
      text-align: center;
      color: $brown;
    }
  }
  .mision {
    h2 {
      font-size: 1.6em;
    }
    p {
    width: 90%;
    margin: 15px;
    text-wrap: stable;
    font-size: 14px;
    }
  }
  .vision {
    h2 {
      font-size: 1.6em;
    }
    p {
    width: 90%;
    margin: 15px;
    text-wrap: stable;
    font-size: 14px;
    }
  }
  .separador {
    width: 100vh;
    margin: 0;
    padding: 0;
    .imagen_separador {
      width: 100%;
      img{
        width: 100%;
        height: auto;
        object-fit: fit;
        transform: scaleY(-1);
      }
    }
  }
  .seccionCaracteristicas {
    background-color: $beige;
    border: 1px solid $beige;
    h2 {
      text-align: center;
      font-size: 1.6em;
      color: $blueking;
      margin: 35px 0px 70px 0px;
    }
  }
  .seccionLogos {
    background-color: $beige;
    border: 1px solid $beige;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo_nosotros {
      img {
        width: 55px;
        height: auto;
        margin: 15px 25px ;
      }
      h3 {
        font-size: 1.1em;
      }
      p {
        margin: 25px;
        text-wrap: pretty;
        font-size: 0.5em;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .img__nosotrosUno {
    img {
      width: 440px;
      height: auto;
      border-radius: 5px;
      margin: 15px auto;
      display: flex;
      justify-content: center; /* Alineación horizontal */
      align-items: center;
    }
  }
  .img__nosotrosDos {
    img {
      width: 440px;
      height: auto;
      border-radius: 5px;
      margin: 15px auto;
      display: flex;
      justify-content: center; /* Alineación horizontal */
      align-items: center;
    }
  }
  .separador {
    width: 100vh;
    margin: 0;
    padding: 0;
    .imagen_separador {
      width: 100%;
      img{
        width: 100%;
        height: auto;
        object-fit: fit;
        transform: scaleY(-1);
      }
    }
  }
  .seccionCaracteristicas {
    background-color: $beige;
    border: 1px solid $beige;
    h2 {
      text-align: center;
      font-size: 1.6em;
      color: $blueking;
      margin: 35px 0px 70px 0px;
    }
  }
.seccionLogos {
  background-color: $beige;
  border: 1px solid $beige;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .logo_nosotros {
    img {
      width: 55px;
      height: auto;
      margin: 15px 25px ;
    }
    h3 {
      font-size: 1.1em;
    }
    p {
      margin: 25px;
      text-wrap: pretty;
      font-size: 0.7em;
    }
  }
}
}
@media screen and (min-width: 1024px) {
  .nosotros {
    h1 {
      font-size: 16px;
      margin: 45px 15px;
      font-size: 2em;
    }
    p {
      width: 80%;
      margin: 45px 15px 15px 15px;
      font-size: 14px;
      text-wrap: pretty;
      line-height: 30px;
      font-size: 16px;
    }
  }
  .col-6 {
  }
  .img__nosotrosUno {
    img {
      width: 540px;
      height: auto;
      border-radius: 5px;
      margin: 15px auto;
      display: flex;
      justify-content: center; /* Alineación horizontal */
      align-items: center;
    }
  }
  .img__nosotrosDos {
    img {
      width: 540px;
      height: auto;
      border-radius: 5px;
      margin: 15px auto;
      display: flex;
      justify-content: center; /* Alineación horizontal */
      align-items: center;
    }
  }
  .idMarca {
  }
  .mision {
    margin-top: 65px;
  }
  .vision {
    margin-top: 65px;
  }
  .separador {
    width: 100vh;
    margin: 0;
    padding: 0;
    .imagen_separador {
      width: 100%;
      img{
        width: 100%;
        height: auto;
        object-fit: fit;
        transform: scaleY(-1);
      }
    }
  }
  .seccionCaracteristicas {
    background-color: $beige;
    border: 5px solid $beige;
    h2 {
      text-align: center;
      font-size: 1.7em;
      color: $blueking;
      margin: 35px 0px 70px 0px;
    }
  }
  .seccionLogos {
    background-color: $beige;
    border: 1px solid $beige;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo_nosotros {
      img {
        width: 55px;
        height: auto;
        margin: 15px 25px ;
      }
      h3 {
        font-size: 1.2em;
      }
      p {
        margin: 25px;
        text-wrap: pretty;
        font-size: 0.9em;
      }
    }
  }
}