$lightbeige: #FFF2D8;
$beige: #EAD7BB;
$brown: #BCA37F;
$blueking: #113946;
$orangered: #ff4500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  background-color: white;
  font-family: "Quicksand", sans-serif;
}

/*Header y footer de todas las paginas*/
@import "header";
@import "footer";

/*Paginas del sitio*/
@import "inicioPag";
@import "guiasytallasPag";
@import "nosotrosPag";