$lightbeige: #FFF2D8;
$beige: #EAD7BB;
$brown: #BCA37F;
$blueking: #113946;
$orangered: #ff4500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

/*Mixins de los estilos Standard y de los mas usados--->*/

/*Mixin de botones de venta superpuestos en imagenes de pagina ppal (index). Dividido en media queries (min-width) de _320px, _480px, _768px y _1024px:*/
@mixin seccionVtasPagPpal_320 {
  .seccionVtaImgsPpal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    .card-img-overlay{
      display: flex;
      flex-direction: column;
      margin: 0px 0px 5px 3px;
      .seccionPrecios__imgsPagPPal{
        display: flex;
        justify-content: flex-end;
        margin: 115px 0px 2px 0;
        position: relative;
        right: 18px;
        top: 10px;
        .precioTachado{
          text-decoration: line-through;
          color: $orangered;
          margin-right: 3px;
          font-size: 0.6em;
          font-weight: 700;
          -webkit-text-stroke: 0.1px black;
        }
        .textPrice {
          color: $orangered;
          font-size: 0.6em;
          font-weight: 700;
          margin-right: 28px;
          -webkit-text-stroke: 0.1px black;
        }
      }
      .card-text {
        font-size: 0.4em;
        font-weight: 650;
        color: black;
        margin: 0px;
      }
    }
    .botonesAccionCompra {
      @include centrarElementos;
      display: flex;
      flex-direction: row;
      input {
        @include botonesDeAccion;
        font-size: 45%;
        width: 60px;
        height: 20px;
        margin: 0.5px;
      }
    }
  }
}
@mixin seccionVtasPagPpal_480 {
  .seccionVtaImgsPpal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    .card-img-overlay{
      display: flex;
      flex-direction: column;
      margin: 0px 0px 5px 3px;
      .seccionPrecios__imgsPagPPal{
        display: flex;
        justify-content: flex-end;
        margin: 115px 0px 2px 0;
        position: relative;
        right: 18px;
        top: 10px;
        .precioTachado{
          text-decoration: line-through;
          color: $orangered;
          margin-right: 3px;
          font-size: 0.7em;
          font-weight: 700;
          -webkit-text-stroke: 0.1px black;
        }
        .textPrice {
          color: $orangered;
          font-size: 0.7em;
          font-weight: 700;
          margin-right: 15px;
          -webkit-text-stroke: 0.1px black;
        }
      }
      .card-text {
        font-size: 0.5em;
        font-weight: 650;
        color: black;
        margin: 0px;
      }
    }
    .botonesAccionCompra {
      @include centrarElementos;
      display: flex;
      flex-direction: row;
      input {
        @include botonesDeAccion;
        font-size: 45%;
        width: 60px;
        height: 20px;
        margin: 0.5px;
      }
    }
  }
}
@mixin seccionVtasPagPpal_768 {
  .seccionVtaImgsPpal {
    .card-img-overlay {
      width: 150px;
      .seccionPrecios__imgsPagPPal {
        right: 35px;
        .precioTachado {
          font-size: 0.8em;
        }
        .textPrice {
          font-size: 0.8em;
        }
      }
      .card-text {
        font-size: 0.6em;
      }
    }
    .botonesAccionCompra {
      flex-direction: row;
      input {
        font-size: 55%;
        width: 80px;
        height: 20px;
      }
    }
  }
}
@mixin seccionVtasPagPpal_1024 {
  .seccionVtaImgsPpal {
    height: 200px;
    .card-img-overlay {
      width: 200px;
      .seccionPrecios__imgsPagPPal {
        right: 75px;
        bottom: 105px;
        .precioTachado {
          font-size: 0.9em;
        }
        .textPrice {
          font-size: 0.9em;
        }
      }
      .card-text {
        font-size: 0.7em;
      }
    }
    .botonesAccionCompra {
      flex-direction: row;
      input {
        font-size: 65%;
        width: 90px;
        height: 20px;
      }
    }
  }
}

/*Mixin estilo de Imgs de venta en la pag Ppal*/
@mixin estiloImgsPagCompras {
  width: 200px;
  height: auto;
  border-radius: 5px;
  opacity: 0.97;
  box-shadow: 0 3px 8px black;
}

/*Botones de accion de toda el sitio web*/
@mixin botonesDeAccion {
  width: 140px;
  height: 25px;
  align-content: center;
  border-radius: 5px;
  background-color: $blueking;
  color: white;
  font-size: 60%;
  font-weight: 400;
  padding: 2px;
  border: $lightbeige 5px;
}

/*Para centrar elementos...*/
@mixin centrarElementos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/*Para las paginas con mucho texto, se definió tamaños de texto standard para h1, h2, h3, p de pags y p de los logos o imgs, divididos por media queries: */
/*--TextSizes standard _320px*/
@mixin h1_size320 {
  font-size: 1.2em;
} 
@mixin h2_size320{
  font-size: 1em;
}
@mixin h3_size320{
  font-size: 0.9em;
}
@mixin p_size320{
  font-size: 0.7em;
}
@mixin pLogos_size320{
  font-size: 0.5em;
}
/*--TextSizes standard _480px*/
@mixin h1_size480 {
  font-size: 1.4em;
} 
@mixin h2_size480{
  font-size: 1.2em;
}
@mixin h3_size480{
  font-size: 1.1em;
}
@mixin p_size480{
  font-size: 0.8em;
}
@mixin pLogos_size480{
  font-size: 0.6em;
}
/*--TextSizes standard _768px*/
@mixin h1_size768 {
  font-size: 1.6em;
} 
@mixin h2_size768{
  font-size: 1.4em;
}
@mixin h3_size768{
  font-size: 1.3em;
}
@mixin p_size768{
  font-size: 0.9em;
}
@mixin pLogos_size768{
  font-size: 0.7em;
}
/*--TextSizes standard _1024px*/
@mixin h1_size1024 {
  font-size: 1.8em;
} 
@mixin h2_size1024{
  font-size: 1.6em;
}
@mixin h3_size1024{
  font-size: 1.5em;
}
@mixin p_size1024{
  font-size: 1em;
}
@mixin pLogos_size1024{
  font-size: 0.8em;
}

/*Header y footer de todas las paginas del sitio*/
@import "header";
@import "footer";

/*Paginas del sitio*/
@import "index";
@import "guiatallas";
@import "nosotros";
@import "sesionregis";
@import "pagcompras";
@import "carrito";
@import "detalleProducto";